/*--------------------------------------------------------------
# Positioning of main page sections using CSS Grid
--------------------------------------------------------------*/

#masthead {
    grid-area: header;
}
#primary {
    grid-area: main;
}
#secondary {
    grid-area: sidebar;
}
#colophon {
    grid-area: footer;
}

#page {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
    grid-gap: 60px;

    @media screen and (max-width: 1024px) {
        grid-template-areas: 
            "header header"
            "main main"
            "sidebar sidebar"
            "footer footer";
    }
}


/*--------------------------------------------------------------
# Header Layout using Flexbox
--------------------------------------------------------------*/

#masthead {
    display: flex;
    justify-content: space-between;

    .site-branding {
        flex: 1;
    }

    nav {
        align-self: center;
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
    
}
