.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: 0.8em 0;
            border-bottom: 1px solid $color__border-table;
            color: $color__menu-default-link;

            &:last-of-type {
                border-bottom: none;
            }
        }

        a {
            text-decoration: none;
            color: $color__menu-default-link;
            
            &:hover,
            &:focus {
                color: $color__menu-active-link;
            }
        }
    }
}
